.header {
  max-width: var(--max-width);
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 0;
  right: 0;
  height: 40px;
  padding: 16px 40px 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--border-color);
}

.header__mobile {
  display: none;
  max-width: var(--max-width);
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 0;
  right: 0;
  height: 40px;
  padding: 16px 40px 16px 40px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--border-color);
}

.header__logo {
  width: var(--header-section-width);
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-weight: 600;
  font-size: 32px;
  padding: 0 4px;
}

.header__navigation {
  display: flex;
  gap: 16px;
}

.header__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__link {
  color: var(--font-color);
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  text-decoration: underline;
}

.header__media-buttons {
  width: var(--header-section-width);
  display: flex;
  gap: 16px;
}

.header__media--button {
  color: var(--font-color);
  background-color: transparent;
  border: none; 
}

.header__media--button:hover {
  color: rgb(131, 131, 131);
  cursor: pointer;
}

.menu__wrapper {
  display: none;
}

.menu__wrapper--content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__wrapper--opened {
  position: absolute;
  top: 96px;
  left: 8px;
  right: 8px;
  height: calc(100svh - 128px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  background-color: var(--background-color);
}

@media (max-width:961px) {
  .header {
    display: none;
  }

  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__media-buttons {
    margin-bottom: 16px;
  }
}
