.header {
  max-width: var(--max-width);
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 0;
  right: 0;
  height: 40px;
  padding: 16px 40px 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--border-color);
}

.header__mobile {
  display: none;
  max-width: var(--max-width);
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 0;
  right: 0;
  height: 40px;
  padding: 16px 40px 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--border-color);
}

.header__logo {
  width: var(--header-section-width);
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-weight: 600;
  font-size: 24px;
  padding: 0 4px;
}

.header__navigation {
  display: flex;
  gap: 16px;
}

.header__link {
  color: var(--font-color);
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  text-decoration: underline;
}

.header__cta {
  width: var(--header-section-width);
  color: var(--font-color);
  font-size: 16px;
  background-color: black;
  border-radius: 6px;
  padding: 12px;
  border: 2px solid var(--border-color);
}

.header__cta:hover {
  color: var(--font-color);
  text-decoration: underline;
}

@media (max-width:961px) {
  .header {
    display: none;
  }

  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
