body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* overflow: hidden; */
}

button {
  font-family: "Bebas Neue", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

:root {
  --background-color: #121212;
  --border-color: #e6e1e3;
  --font-color: #e6e1e3;
  --border-radius: 2px;
  --max-width: 1000px;
  --header-section-with: 170px;
}
